*{font-family:"Microsoft YaHei";font-size:0.95em;box-sizing: border-box}
body{margin:0 auto;}

#menu{
    background-color: #dedede;
    color: #333;
    border-bottom:1px solid #999;
}
#menu div{
    cursor:pointer;
}
#menu>div:hover,#menu div.sub div:hover{
    background: #1382CE;
    color:white;
}
#menu div.head{
    display: inline-block;
    padding:5px 20px;
    position:relative;
}
#menu div.sub{
    color:#333;
    position:absolute;
    display:table;
    background-color:#dedede;
    margin-top:5px;
    margin-left:-21px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.15);
    border:1px solid #acacac;
    border-top:0px;
}
#menu div.sub hr{
    border:0;
    border-top:1px solid #acacac;
    margin:1px 0;
    width:100%;
    display: table;
}
#menu div.sub div{
    background-color:#dedede;
    display: table;
    white-space:nowrap;
    width:100%;
    padding:5px 10px;
    padding-right:25px;
}
{

}